[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "~=4.5"
unittest-xml-reporting = "~=2.5"

[packages]
requests = "~=2.23"
integration-adaptors-common = {editable = true,git = "https://git@github.com/nhsconnect/integration-adaptor-common.git",tag = '0.1.7'}
ldap3 = "~=2.7"
tornado = "~=6.0"
aioboto3 = "~=8.0"
defusedxml = "~=0.6"
dpath = "~=2.0"
pymongo = "~=3.9"

[requires]
python_version = "3.7"

[scripts]
inttests = 'python -m xmlrunner discover -o test-reports -p "int_*" -v'
componenttests = 'python -m xmlrunner discover -o test-reports -p "component_*" -v'
