
{
    "Id": "{{uuid}}",
    "creationTime": "{{timestamp}}",
    "versionCode": "V3NPfIT4.2.00",
    "interactionId": {
        "root": "2.16.840.1.113883.2.1.3.2.4.12",
        "extension": "REPC_IN150016UK05"
    },
    "processingCode": {"code": "P"},
    "processingModeCode": {"code": "T"},
    "acceptAckCode": {
        "code": "NE"
    },
    "communicationFunctionRcv": {
        "device": {
            "id": {
                "extension": "655159266510"
            }
        }
    },
    "communicationFunctionSnd": {
        "device": {
            "id": {
                "extension": "{{asid}}"
            }
        }
    },
    "controlActEvent": {
        "classCode": "CACT",
        "moodCode": "EVN",
        "author1": {
            "agentSystemSDS": {
                "id": {
                    "extension": "{{asid}}"
                }
            }
        },
        "author": {
            "AgentPersonSDS": {
                "id": {
                    "extension": "055888118514"
                },
                "agentPersonSDS": {
                    "id": {
                        "extension": "979603625513"
                    }
                },
                "part": {
                    "partSDSRole": {
                        "id": {
                            "extension": "R0260"
                        }
                    }
                }
            }
        },
        "subject": {
            "GPSummary": {
                "id": {
                    "root": "{{uuid}}"
                },
                "effectiveTime": "{{timestamp}}",
                "author": {
                    "time": "{{timestamp}}",
                    "AgentPersonSDS": {
                        "id": {
                            "extension": "055888118514"
                        },
                        "agentPersonSDS": {
                            "id": {
                                "extension":"979603625513"
                            },
                            "name": "<family>NICA_Test_Automation_Healthchecks</family>"
                        }
                    }
                },
                "excerptForm": {
                    "CareDocs": {
                        "presentationText": {
                            "value": "<h1>{{payload}}</h1>",
                            "id": {"root": "EA3BCDEB-A439-4984-A519-2EE25EB3F24C"},
                            "effectiveTime": {"value": "{{timestamp}}"}
                        }
                    }
                },
                "recordTarget": {
                    "patient": {
                        "id": {
                            "extension": "{{patient_nhs_number}}"
                        }
                    }
                },
                "replacementOf": [
                ]
            }
        }
    }
}
