<QUPC_IN160101UK05 xmlns="urn:hl7-org:v3">
            <id root="{{uuid}}" />
            <creationTime value="{{timestamp}}"/>
            <versionCode code="3NPfIT7.2.00" />
            <interactionId root="2.16.840.1.113883.2.1.3.2.4.12" extension="QUPC_IN160101UK05" />
            <processingCode code="P" />
            <processingModeCode code="T" />
            <acceptAckCode code="NE" />
            <communicationFunctionRcv typeCode="RCV">
                <device classCode="DEV" determinerCode="INSTANCE">
                    <id extension="{{to_party_id}}" root="1.2.826.0.1285.0.2.0.107" />
                </device>
            </communicationFunctionRcv>
            <communicationFunctionSnd typeCode="SND">
                <device classCode="DEV" determinerCode="INSTANCE">
                    <id extension="{{asid}}" root="1.2.826.0.1285.0.2.0.107" />
                </device>
            </communicationFunctionSnd>
            <ControlActEvent classCode="CACT" moodCode="EVN">
                <author1 typeCode="AUT">
                    <AgentSystemSDS classCode="AGNT">
                        <agentSystemSDS classCode="DEV" determinerCode="INSTANCE">
                            <id extension="{{asid}}" root="1.2.826.0.1285.0.2.0.107" />
                        </agentSystemSDS>
                    </AgentSystemSDS>
                </author1>
                <query>
                    <dissentOverride>
                        <semanticsText>DissentOverride</semanticsText>
                        <value code="{{dissentOverride}}" codeSystem="2.16.840.1.113883.2.1.3.2.4.17.60" displayName="Demonstration">
                            <originalText>Demonstration</originalText>
                        </value>
                    </dissentOverride>
                    <filterParameters>
                        <date>
                            <semanticsText>Date</semanticsText>
                            <value>
                                <low value="20100908161126"/>
                                <high value="{{timestamp}}"/>
                            </value>
                        </date>
                    </filterParameters>
                    <nHSNumber>
                        <semanticsText>NHSNumber</semanticsText>
                        <value root="2.16.840.1.113883.2.1.4.1" extension="{{patient_nhs_number}}" />
                    </nHSNumber>
                </query>
            </ControlActEvent>
</QUPC_IN160101UK05>
