version: '3'
services:
  fakespine:
    image: local/fake-spine:${BUILD_TAG}
    environment:
      - FAKE_SPINE_CA_STORE=${FAKE_SPINE_CA_STORE}
      - FAKE_SPINE_CERTIFICATE=${FAKE_SPINE_CERTIFICATE}
      - FAKE_SPINE_INBOUND_DELAY_MS=${FAKE_SPINE_INBOUND_DELAY_MS}
      - FAKE_SPINE_OUTBOUND_DELAY_MS=${FAKE_SPINE_OUTBOUND_DELAY_MS}
      - FAKE_SPINE_PRIVATE_KEY=${FAKE_SPINE_PRIVATE_KEY}
      - INBOUND_SERVER_BASE_URL=${INBOUND_SERVER_BASE_URL}
      - FAKE_SPINE_PROXY_VALIDATE_CERT=${FAKE_SPINE_PROXY_VALIDATE_CERT}
      - MHS_SECRET_PARTY_KEY=${MHS_SECRET_PARTY_KEY}
      - FAKE_SPINE_PORT=${FAKE_SPINE_PORT}
      - FAKE_SPINE_OUTBOUND_SSL_ENABLED=${FAKE_SPINE_OUTBOUND_SSL_ENABLED}
      - MHS_LOG_LEVEL=DEBUG
    ports:
      - "443:443"
      - "80:80"
    # logging:
    #   driver: "awslogs"
    #   options:
    #     awslogs-region: "eu-west-2"
    #     awslogs-group: "/aws/ec2/fake-spine-ec2-instance"
    #     awslogs-create-group: "true"

    