version: '3'

services:
  inbound:
    image: local/mhs-inbound:${BUILD_TAG}
    # build:
    #   context: .
    #   dockerfile: ./dockers/mhs/inbound/Dockerfile
    environment:
      - MHS_LOG_LEVEL=NOTSET
      - MHS_SECRET_PARTY_KEY
      - MHS_SECRET_CLIENT_CERT
      - MHS_SECRET_CLIENT_KEY
      - MHS_SECRET_CA_CERTS
      - MHS_INBOUND_QUEUE_BROKERS=amqp://rabbitmq:5672
      - MHS_INBOUND_QUEUE_NAME=inbound
      - MHS_SECRET_INBOUND_QUEUE_USERNAME=guest
      - MHS_SECRET_INBOUND_QUEUE_PASSWORD=guest
      - MHS_STATE_TABLE_NAME=mhs_state
      - MHS_SYNC_ASYNC_STATE_TABLE_NAME=sync_async_state
      - MHS_DYNAMODB_ENDPOINT_URL=http://dynamodb:8000
      # boto3 requires some AWS creds to be provided, even
      # when connecting to local DynamoDB
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
  outbound:
    image: local/mhs-outbound:${BUILD_TAG}
    # build:
    #   context: .
    #   dockerfile: ./dockers/mhs/outbound/Dockerfile
    environment:
      - MHS_LOG_LEVEL=NOTSET
      - MHS_SECRET_PARTY_KEY
      - MHS_SECRET_CLIENT_CERT
      - MHS_SECRET_CLIENT_KEY
      - MHS_SECRET_CA_CERTS
      - MHS_STATE_TABLE_NAME=mhs_state
      - MHS_DYNAMODB_ENDPOINT_URL=http://dynamodb:8000
      - MHS_SYNC_ASYNC_STATE_TABLE_NAME=sync_async_state
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
      - MHS_RESYNC_INTERVAL=1
      - MAX_RESYNC_RETRIES=20
      - MHS_SPINE_ROUTE_LOOKUP_URL=http://route
      - MHS_SPINE_ORG_CODE=YES
      - MHS_SPINE_REQUEST_MAX_SIZE=4999600 # 5 000 000 - 400
      # Note that this endpoint URL is Opentest-specific
      - MHS_FORWARD_RELIABLE_ENDPOINT_URL=https://192.168.128.11/reliablemessaging/forwardreliable
      # This is for disabling hostname validation so OpenTest ip address will work
      - MHS_OUTBOUND_VALIDATE_CERTIFICATE=${MHS_OUTBOUND_VALIDATE_CERTIFICATE:-True}
  route:
    image: local/mhs-route:${BUILD_TAG}
    # build:
    #   context: .
    #   dockerfile: ./dockers/mhs/spineroutelookup/Dockerfile
    ports:
        - "8080:80"
    environment:
      - MHS_LOG_LEVEL=NOTSET
      - MHS_SDS_URL=ldaps://10.196.94.141
      - MHS_SDS_SEARCH_BASE=ou=services,o=nhs
      - MHS_DISABLE_SDS_TLS=True
      - MHS_SDS_REDIS_CACHE_HOST=redis
      - MHS_SDS_REDIS_DISABLE_TLS=True
  dynamodb:
    image: nhsdev/nia-dynamodb-local:1.0.1
    ports:
      - "8000:8000"
  rabbitmq:
    image: nhsdev/nia-rabbitmq-local:1.0.1
    ports:
      - "15672:15672"
      - "5672:5672"
    hostname: "localhost"
  redis:
    image: redis
    ports:
      - "6379:6379"
  fakespine:
    image: local/fake-spine:${BUILD_TAG}
    # build:
    #   context: .
    #   dockerfile: ./integration-tests/fake_spine/Dockerfile
    ports:
      - "8443:443"
      - "8081:80"
    environment:
      - FAKE_SPINE_CA_STORE=${FAKE_SPINE_CA_STORE}
      - FAKE_SPINE_CERTIFICATE=${FAKE_SPINE_CERTIFICATE}
      - FAKE_SPINE_INBOUND_DELAY_MS=150
      - FAKE_SPINE_OUTBOUND_DELAY_MS=150
      - FAKE_SPINE_PRIVATE_KEY=${FAKE_SPINE_PRIVATE_KEY}
      - INBOUND_SERVER_BASE_URL=${INBOUND_SERVER_BASE_URL}
      - MHS_SECRET_PARTY_KEY=${MHS_SECRET_PARTY_KEY}


