version: '3'

services:
  inbound:
    image: local/mhs-inbound
    ports:
      - "443:443"
    environment:
      - MHS_LOG_LEVEL=NOTSET
  outbound:
    image: local/mhs-outbound
    ports:
      - "80:80"
    environment:
      - MHS_LOG_LEVEL=NOTSET
      - MHS_STATE_TABLE_NAME=mhs_state
  spineroutelookup:
    image: local/mhs-spineroutelookup
    ports:
      - "8443:443"
    environment:
      - MHS_LOG_LEVEL=NOTSET
  dynamodb:
    image: amazon/dynamodb-local
    ports:
      - "8000:8000"
  rabbitmq:
    build: ./common/local-env/rabbit/
    ports:
      - "15672:15672"
      - "5672:5672"
    hostname: "localhost"
