version: '3'

services:
  inbound:
    image: local/inbound
    ports:
      - "443:443"
    environment:
      - MHS_LOG_LEVEL=NOTSET
  outbound:
    image: local/outbound
    ports:
      - "80:80"
    environment:
      - MHS_LOG_LEVEL=NOTSET

  dynamodb:
    image: amazon/dynamodb-local
    ports:
      - "8000:8000"
  rabbitmq:
    build: ./common/local-env/rabbit/
    ports:
      - "15672:15672"
      - "5672:5672"
    hostname: "localhost"
