POST https://vpn-client-1515.opentest.hscic.gov.uk/
====== HEADERS =====
Host: vpn-client-1515.opentest.hscic.gov.uk
User-Agent: Mozilla/5.0 (compatible; pycurl)
Accept-Encoding: none
Soapaction: urn:nhs:names:services:psis/MCCI_IN010000UK13
Accept: */*
Connection: close
Content-Type: multipart/related; boundary="--=_MIME-Boundary"; charset="UTF-8"; type="text/xml"; start="<ebXMLHeader@spine.nhs.uk>"
Content-Length: 3455
====== BODY =======
----=_MIME-Boundary
Content-Id: <ebXMLHeader@spine.nhs.uk>
Content-Type: text/xml
Content-Transfer-Encoding: 8bit

<?xml version='1.0' encoding='UTF-8'?>
<soap:Envelope xmlns:xsi="http://www.w3c.org/2001/XML-Schema-Instance"
               xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
               xmlns:eb="http://www.oasis-open.org/committees/ebxml-msg/schema/msg-header-2_0.xsd"
               xmlns:xlink="http://www.w3.org/1999/xlink">
    <soap:Header>
        <eb:MessageHeader eb:version="2.0" soap:mustUnderstand="1">
            <eb:From>
                <eb:PartyId eb:type="urn:nhs:names:partyType:ocs+serviceInstance">YES-0000806</eb:PartyId>
            </eb:From>
            <eb:To>
                <eb:PartyId eb:type="urn:nhs:names:partyType:ocs+serviceInstance">{{to_party_id}}</eb:PartyId>
            </eb:To>
            <eb:CPAId>S918999404212</eb:CPAId>
            <eb:ConversationId>{{conversation_id}}</eb:ConversationId>
            <eb:Service>urn:nhs:names:services:psis</eb:Service>
            <eb:Action>MCCI_IN010000UK13</eb:Action>
            <eb:MessageData>
                <eb:MessageId>{{message_id}}</eb:MessageId>
                <eb:Timestamp>2020-03-19T14:05:22Z</eb:Timestamp>
                <eb:RefToMessageId>{{ref_to_message_id}}</eb:RefToMessageId>
            </eb:MessageData>
            <eb:DuplicateElimination/>
        </eb:MessageHeader>
        <eb:AckRequested eb:version="2.0" soap:mustUnderstand="1"
                         soap:actor="urn:oasis:names:tc:ebxml-msg:actor:toPartyMSH" eb:signed="false"/>
        <eb:SyncReply eb:version="2.0" soap:mustUnderstand="1" soap:actor="http://schemas.xmlsoap.org/soap/actor/next"/>
    </soap:Header>
    <soap:Body>
        <eb:Manifest xmlns:hl7ebxml="urn:hl7-org:transport/ebXML/DSTUv1.0" eb:version="2.0">
            <eb:Reference xlink:href="cid:{{message_id}}@spine.nhs.uk">
                <eb:Schema eb:location="urn:hl7-org:v3_MCCI_IN010000UK13.xsd" eb:version="13"/>
                <eb:Description xml:lang="en">The HL7 payload</eb:Description>
                <hl7ebxml:Payload style="HL7" encoding="XML" version="3.0"/>
            </eb:Reference>
        </eb:Manifest>
    </soap:Body>
</soap:Envelope>

----=_MIME-Boundary
Content-Id: <{{message_id}}@spine.nhs.uk>
Content-Type: application/xml
Content-Transfer-Encoding: 8bit

<?xml version='1.0' encoding='UTF-8'?>
<hl7:MCCI_IN010000UK13 xmlns:hl7="urn:hl7-org:v3">
    <hl7:id root="{{message_id}}"/>
    <hl7:creationTime value="20200319140522"/>
    <hl7:versionCode code="V3NPfIT4.2.00"/>
    <hl7:interactionId root="2.16.840.1.113883.2.1.3.2.4.12" extension="MCCI_IN010000UK13"/>
    <hl7:processingCode code="P"/>
    <hl7:processingModeCode code="T"/>
    <hl7:acceptAckCode code="NE"/>
    <hl7:acknowledgement typeCode="AA">
        <hl7:messageRef>
            <hl7:id root="{{ref_to_message_id}}"/>
        </hl7:messageRef>
    </hl7:acknowledgement>
    <hl7:communicationFunctionRcv typeCode="RCV">
        <hl7:device classCode="DEV" determinerCode="INSTANCE">
            <hl7:id root="1.2.826.0.1285.0.2.0.107" extension="918999198975"/>
        </hl7:device>
    </hl7:communicationFunctionRcv>
    <hl7:communicationFunctionSnd typeCode="SND">
        <hl7:device classCode="DEV" determinerCode="INSTANCE">
            <hl7:id root="1.2.826.0.1285.0.2.0.107" extension="227319907548"/>
        </hl7:device>
    </hl7:communicationFunctionSnd>
    <hl7:ControlActEvent classCode="CACT" moodCode="EVN">
        <hl7:author1 typeCode="AUT">
            <hl7:AgentSystemSDS classCode="AGNT">
                <hl7:agentSystemSDS classCode="DEV" determinerCode="INSTANCE">
                    <hl7:id root="1.2.826.0.1285.0.2.0.107" extension="227319907548"/>
                </hl7:agentSystemSDS>
            </hl7:AgentSystemSDS>
        </hl7:author1>
        <hl7:requestSuccessDetail>
            <hl7:detail>GP Summary upload successful</hl7:detail>
            <hl7:id root="Not Known"/>
        </hl7:requestSuccessDetail>
    </hl7:ControlActEvent>
</hl7:MCCI_IN010000UK13>
----=_MIME-Boundary--
