----=_MIME-Boundary
Content-Id: <ebXMLHeader@spine.nhs.uk>
Content-Type: text/xml; charset=UTF-8
Content-Transfer-Encoding: 8bit

<?xml version="1.0" encoding="UTF-8"?>
<SOAP:Envelope xmlns:xsi="http://www.w3c.org/2001/XML-Schema-Instance" xmlns:SOAP="http://schemas.xmlsoap.org/soap/envelope/" xmlns:eb="http://www.oasis-open.org/committees/ebxml-msg/schema/msg-header-2_0.xsd" xmlns:hl7ebxml="urn:hl7-org:transport/ebXML/DSTUv1.0" xmlns:xlink="http://www.w3.org/1999/xlink">
<SOAP:Header>
	<eb:MessageHeader SOAP:mustUnderstand="1" eb:version="2.0">
		<eb:From>
			<eb:PartyId eb:type="urn:nhs:names:partyType:ocs+serviceInstance">{{from_party_id}}</eb:PartyId>
		</eb:From>
		<eb:To>
			<eb:PartyId eb:type="urn:nhs:names:partyType:ocs+serviceInstance">{{to_party_id}}</eb:PartyId>
		</eb:To>
		<eb:CPAId>{{cpa_id}}</eb:CPAId>
		<eb:ConversationId>{{conversation_id}}</eb:ConversationId>
		<eb:Service>{{service}}</eb:Service>
		<eb:Action>{{action}}</eb:Action>
		<eb:MessageData>
			<eb:MessageId>{{message_id}}</eb:MessageId>
			<eb:Timestamp>{{timestamp}}</eb:Timestamp>
		</eb:MessageData>
        {{#duplicate_elimination}}
        <eb:DuplicateElimination/>
        {{/duplicate_elimination}}
    </eb:MessageHeader>
    {{#ack_requested}}
    <eb:AckRequested SOAP:mustUnderstand="1" eb:version="2.0" eb:signed="false" SOAP:actor="{{ack_soap_actor}}"/>
    {{/ack_requested}}
    {{#sync_reply}}
    <eb:SyncReply SOAP:mustUnderstand="1" eb:version="2.0" SOAP:actor="http://schemas.xmlsoap.org/soap/actor/next"/>
    {{/sync_reply}}
</SOAP:Header>
<SOAP:Body>
	<eb:Manifest SOAP:mustUnderstand="1" eb:version="2.0">
		<eb:Reference xlink:href="cid:{{message_id}}@spine.nhs.uk">
			<eb:Schema eb:location="http://www.nhsia.nhs.uk/schemas/HL7-Message.xsd" eb:version="1.0"/>
			<eb:Description xml:lang="en">HL7 payload</eb:Description>
			<hl7ebxml:Payload style="HL7" encoding="XML" version="3.0"/>
		</eb:Reference>
    {{#attachments}}
        <eb:Reference xlink:href="cid:{{content_id}}">
            <eb:Description xml:lang="en">{{description}}</eb:Description>
        </eb:Reference>
    {{/attachments}}
	</eb:Manifest>
</SOAP:Body>
</SOAP:Envelope>

----=_MIME-Boundary
Content-Id: <{{message_id}}@spine.nhs.uk>
Content-Type: text/xml; charset=UTF-8
Content-Transfer-Encoding: 8bit

{{{hl7_message}}}
{{#attachments}}
----=_MIME-Boundary
Content-Id: <{{content_id}}>
Content-Type: {{content_type}}
Content-Transfer-Encoding: {{content_transfer_encoding}}

{{{payload}}}
{{/attachments}}
----=_MIME-Boundary--
