<?xml version="1.0" encoding="utf-8"?>
<SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:hl7="urn:hl7-org:v3">
	<SOAP-ENV:Header>
        <wsa:MessageID xmlns:SOAP="http://schemas.xmlsoap.org/soap/envelope/">uuid:{{{message_id}}}</wsa:MessageID>
		<wsa:Action>{{{action}}}</wsa:Action>
		<wsa:To>{{{service}}}</wsa:To>
		<wsa:From>
			<wsa:Address/>
		</wsa:From>
		<hl7:communicationFunctionRcv>
			<hl7:device>
                <hl7:id xmlns:SOAP="http://schemas.xmlsoap.org/soap/envelope/" extension="{{{to_asid}}}" root="1.2.826.0.1285.0.2.0.107"/>
			</hl7:device>
		</hl7:communicationFunctionRcv>
		<hl7:communicationFunctionSnd>
			<hl7:device>
                <hl7:id xmlns:SOAP="http://schemas.xmlsoap.org/soap/envelope/" extension="{{{from_asid}}}" root="1.2.826.0.1285.0.2.0.107"/>
			</hl7:device>
		</hl7:communicationFunctionSnd>
		<wsa:ReplyTo>
			<wsa:Address/>
		</wsa:ReplyTo>
	</SOAP-ENV:Header>
	<SOAP-ENV:Body>
		{{{hl7_message}}}
	</SOAP-ENV:Body>
</SOAP-ENV:Envelope>
