[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
integration-adaptors-common = {editable = true,path = "./../common"}
requests = "*"

[requires]
python_version = "3.7"

[scripts]
tests = "python -m unittest -v"
sender = "python main.py"
