[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
scr = {editable = true,path = "./../SCR"}

[packages]
integration-adaptors-common = {editable = true,path = "./../common"}
requests = "*"
tornado = "*"

[requires]
python_version = "3.7"

[scripts]
tests = "python -m unittest -v"
mhs = "python main.py"
