----=_MIME-Boundary
Content-Id: <ebXMLHeader@spine.nhs.uk>
Content-Type: text/xml; charset=UTF-8
Content-Transfer-Encoding: 8bit

<?xml version="1.0" encoding="UTF-8"?>
<SOAP:Envelope xmlns:xsi="http://www.w3c.org/2001/XML-Schema-Instance" xmlns:SOAP="http://schemas.xmlsoap.org/soap/envelope/" xmlns:eb="http://www.oasis-open.org/committees/ebxml-msg/schema/msg-header-2_0.xsd" xmlns:hl7ebxml="urn:hl7-org:transport/ebXML/DSTUv1.0" xmlns:xlink="http://www.w3.org/1999/xlink">
<SOAP:Header>
	<eb:MessageHeader SOAP:mustUnderstand="1" eb:version="2.0">
		<eb:From>
			<eb:PartyId eb:type="urn:nhs:names:partyType:ocs+serviceInstance">{{asid}}</eb:PartyId>
		</eb:From>
		<eb:To>
			<eb:PartyId eb:type="urn:nhs:names:partyType:ocs+serviceInstance">{{to_party_id}}</eb:PartyId>
		</eb:To>
		<eb:CPAId>S1001A1630</eb:CPAId>
		<eb:ConversationId>10F5A436-1913-43F0-9F18-95EA0E43E61A</eb:ConversationId>
		<eb:Service>urn:nhs:names:services:psis</eb:Service>
		<eb:Action>COPC_IN000001UK01</eb:Action>
		<eb:MessageData>
			<eb:MessageId>{{uuid}}</eb:MessageId>
			<eb:Timestamp>2019-05-04T20:55:16Z</eb:Timestamp>
		</eb:MessageData>
        <eb:DuplicateElimination/>
    </eb:MessageHeader>
    <eb:AckRequested SOAP:mustUnderstand="1" eb:version="2.0" eb:signed="false" SOAP:actor="urn:oasis:names:tc:ebxml-msg:actor:toPartyMSH"/>
    <eb:SyncReply SOAP:mustUnderstand="1" eb:version="2.0" SOAP:actor="http://schemas.xmlsoap.org/soap/actor/next"/>
</SOAP:Header>
<SOAP:Body>
	<eb:Manifest SOAP:mustUnderstand="1" eb:version="2.0">
		<eb:Reference xlink:href="cid:C614484E-4B10-499A-9ACD-5D645CFACF61@spine.nhs.uk">
			<eb:Schema eb:location="http://www.nhsia.nhs.uk/schemas/HL7-Message.xsd" eb:version="1.0"/>
			<eb:Description xml:lang="en">HL7 payload</eb:Description>
			<hl7ebxml:Payload style="HL7" encoding="XML" version="3.0"/>
		</eb:Reference>
	</eb:Manifest>
</SOAP:Body>
</SOAP:Envelope>

----=_MIME-Boundary
Content-Id: <C614484E-4B10-499A-9ACD-5D645CFACF61@spine.nhs.uk>
Content-Type: text/xml; charset=UTF-8
Content-Transfer-Encoding: 8bit

<COPC_IN000001UK01 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3">
    <id root="{{uuid}}" />
    <creationTime value="{{timestamp}}" />
    <versionCode code="3NPfIT7.2.02" />
    <interactionId root="2.16.840.1.113883.2.1.3.2.4.12" extension="COPC_IN000001UK01" />
    <processingCode code="P" />
    <processingModeCode code="T" />
    <acceptAckCode code="NE" />
    <communicationFunctionRcv type="CommunicationFunction" typeCode="RCV">
        <device type="Device" classCode="DEV" determinerCode="INSTANCE">
            <id root="1.2.826.0.1285.0.2.0.107" extension="{{asid}}" />
        </device>
    </communicationFunctionRcv>
    <communicationFunctionSnd type="CommunicationFunction" typeCode="SND">
        <device type="Device" classCode="DEV" determinerCode="INSTANCE">
            <id root="1.2.826.0.1285.0.2.0.107" extension="918999199246" />
        </device>
    </communicationFunctionSnd>
    <ControlActEvent classCode="OBS" moodCode="EVN">
        <author1 type="Participation" typeCode="AUT">
            <AgentSystemSDS type="RoleHeir" classCode="AGNT">
                <agentSystemSDS type="Device" classCode="DEV" determinerCode="INSTANCE">
                    <id root="1.2.826.0.1285.0.2.0.107" extension="{{asid}}" />
                </agentSystemSDS>
            </AgentSystemSDS>
        </author1>
        <subject typeCode="SUBJ" contextConductionInd="false">
        <PayloadInformation classCode="OBS" moodCode="EVN">
        <code code="GP2GPLMATTACHMENTINFO" codeSystem="2.16.840.1.113883.2.1.3.2.4.17.202" displayName="GP2GP Large Message Attachment Information" />
        <id root="{{uuid}}" />
        <messageType root="2.16.840.1.113883.2.1.3.2.4.18.17" extension="RCMR_MT000001GB01" xmlns="NPFIT:HL7:Localisation" />
        <value>
            <Gp2gpfragment xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="urn:nhs:names:services:gp2gp">
            <Version xsi:type="xsd:string">01</Version>
            <Recipients>
                <Recipient>{{to_party_id}}</Recipient>
            </Recipients>
            <From>{{asid}}</From>
            <subject>Attachment:{{file_upload}}</subject>
            <message-id>{{uuid}}</message-id>
            </Gp2gpfragment>
        </value>
            <pertinentInformation typeCode="PERT">
                <sequenceNumber value="1" />
                <pertinentPayloadBody classCode="OBS" moodCode="EVN">
                    <code code="GP2GPLMATTACHMENT" codeSystem="2.16.840.1.113883.2.1.3.2.4.17.202" displayName="GP2GP Large Message Attachment" />
                    <id root="{{uuid}}" />
                    <value>
                        <reference value="file://localhost/1E49E84D-B29B-466B-93A5-432459CA549B_Treadmill%20Running%20300fps_12.avi" />
                    </value>
                </pertinentPayloadBody>
                </pertinentInformation>
            </PayloadInformation>
        </subject>
    </ControlActEvent>
</COPC_IN000001UK01>
----=_MIME-Boundary--
