<soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsa="http://www.w3.org/2005/08/addressing"
               xmlns:itk="urn:nhs-itk:ns:201005">
    <soap:Header>
        <wsa:Action>{{action}}</wsa:Action>
    </soap:Header>
    <soap:Body>
        <itk:DistributionEnvelope
                xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <itk:header service="{{service}}"
                        trackingid="7D6F23E0-AE1A-11DB-9808-B18E1E0994CD">
            </itk:header>
        </itk:DistributionEnvelope>
    </soap:Body>
</soap:Envelope>