<!--This example message is provided for illustrative purposes only. It has had no clinical validation. Whilst every effort has been taken to ensure that the examples are consistent with the message specification contained within the MiM, where there are conflicts with the written message specification or schema, the specification or schema shall be considered to take precedence-->
<soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsa="http://www.w3.org/2005/08/addressing"
               xmlns:itk="urn:nhs-itk:ns:201005">
    <soap:Header>
        <wsa:MessageID>01A71C76-6CDA-11E9-A395-2BEC16A39614</wsa:MessageID>
        <wsa:Action>urn:nhs-itk:services:201005:SendNHS111Report-v2-0</wsa:Action>
        <wsa:To>http://127.0.0.1:4848/syncsoap</wsa:To>
        <wsa:From>
            <wsa:Address>http://localhost:4000</wsa:Address>
        </wsa:From>
        <wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
            <wsu:Timestamp
                    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                    wsu:Id="D6CD5232-14CF-11DF-9423-1F9A910D4703">
                <wsu:Created>2019-05-02T12:58:39Z</wsu:Created>
                <wsu:Expires>2019-05-02T13:08:39Z</wsu:Expires>
            </wsu:Timestamp>
            <wsse:UsernameToken>
                <wsse:Username>TKS Server test</wsse:Username>
            </wsse:UsernameToken>
        </wsse:Security>
    </soap:Header>
    <soap:Body>
        <itk:DistributionEnvelope
                xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <itk:header service="urn:nhs-itk:services:201005:SendNHS111Report-v2-0"
                        trackingid="7D6F23E0-AE1A-11DB-9808-B18E1E0994CD">
                <itk:auditIdentity>
                    <itk:id uri="urn:nhs-uk:identity:ods:5L399"/>
                </itk:auditIdentity>
                <itk:manifest
                        count="{{manifestCount}}">
                    {{#manifest}}
                    <itk:manifestitem mimetype="text/xml" id="{{id}}"
                                      profileid="urn:nhs-en:profile:nhs111CDADocument-v2-0"/>
                    {{/manifest}}
                </itk:manifest>
                <itk:senderAddress
                        uri="urn:nhs-uk:addressing:ods:5L399:445510770"/>
                <itk:handlingSpecification>
                    <itk:spec value="urn:nhs-itk:interaction:primaryOutofHourRecipientNHS111CDADocument-v2-0"
                              key="urn:nhs-itk:ns:201005:interaction"/>
                </itk:handlingSpecification>
            </itk:header>
            <itk:payloads
                    count="{{manifestCount}}">
            </itk:payloads>
        </itk:DistributionEnvelope>
    </soap:Body>
</soap:Envelope>
