<?xml version="1.0" encoding="UTF-8"?>
<soap:Envelope xmlns:xsi="http://www.w3c.org/2001/XML-Schema-Instance"
               xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
               xmlns:eb="http://www.oasis-open.org/committees/ebxml-msg/schema/msg-header-2_0.xsd"
               xmlns:hl7ebxml="urn:hl7-org:transport/ebXML/DSTUv1.0" xmlns:xlink="http://www.w3.org/1999/xlink">
    <soap:Header>
        <eb:MessageHeader eb:version="2.0" soap:mustUnderstand="1">
            <eb:From>
                <eb:PartyId eb:type="urn:nhs:names:partyType:ocs+serviceInstance">{{from_party_id}}</eb:PartyId>
            </eb:From>
            <eb:To>
                <eb:PartyId eb:type="urn:nhs:names:partyType:ocs+serviceInstance">{{to_party_id}}</eb:PartyId>
            </eb:To>
            <eb:CPAId>{{cpa_id}}</eb:CPAId>
            <eb:ConversationId>{{conversation_id}}</eb:ConversationId>
            <eb:Service>{{service}}</eb:Service>
            <eb:Action>{{action}}</eb:Action>
            <eb:MessageData>
                <eb:MessageId>{{message_id}}</eb:MessageId>
                <eb:Timestamp>{{received_message_timestamp}}</eb:Timestamp>
                <eb:RefToMessageId>{{received_message_id}}</eb:RefToMessageId>
            </eb:MessageData>
        </eb:MessageHeader>
        <eb:Acknowledgment eb:version="2.0" soap:mustUnderstand="1"
                           soap:actor="urn:oasis:names:tc:ebxml-msg:actor:toPartyMSH">
            <eb:Timestamp>{{timestamp}}</eb:Timestamp>
            <eb:RefToMessageId>{{received_message_id}}</eb:RefToMessageId>
            <eb:From>
                <eb:PartyId eb:type="urn:nhs:names:partyType:ocs+serviceInstance">{{from_party_id}}</eb:PartyId>
            </eb:From>
        </eb:Acknowledgment>
    </soap:Header>
    <soap:Body/>
</soap:Envelope>
