<REPC_IN150016UK05 ITSVersion="XML_1.0" 
    xmlns="urn:hl7-org:v3">
    {{> BasicInformationPartial }}
    <communicationFunctionRcv typeCode="RCV">
        <device classCode="DEV" determinerCode="INSTANCE">
            <id root="1.2.826.0.1285.0.2.0.107" extension="{{communicationFunctionRcv.device.id.extension}}"/>
        </device>
    </communicationFunctionRcv>
    <communicationFunctionSnd typeCode="SND">
        <device classCode="DEV" determinerCode="INSTANCE">
            <id root="1.2.826.0.1285.0.2.0.107" extension="{{communicationFunctionSnd.device.id.extension}}"/>
        </device>
    </communicationFunctionSnd>
    <ControlActEvent classCode="ALRT" moodCode="EVN">
        <author1 typeCode="AUT">
            <AgentSystemSDS classCode="AGNT">
                <agentSystemSDS classCode="DEV" determinerCode="INSTANCE">
                    <id root="1.2.826.0.1285.0.2.0.107" extension="{{controlActEvent.author1.agentSystemSDS.id.extension}}"/>
                </agentSystemSDS>
            </AgentSystemSDS>
        </author1>
        <author typeCode="AUT">
            <AgentPersonSDS classCode="AGNT">
                <id root="1.2.826.0.1285.0.2.0.67" extension="{{controlActEvent.author.AgentPersonSDS.id.extension}}"/>
                <agentPersonSDS classCode="PSN" determinerCode="INSTANCE">
                    <id root="1.2.826.0.1285.0.2.0.65" extension="{{controlActEvent.author.AgentPersonSDS.agentPersonSDS.id.extension}}"/>
                </agentPersonSDS>
                <part typeCode="PART">
                    <partSDSRole classCode="ROL">
                        <id extension="{{controlActEvent.author.AgentPersonSDS.part.partSDSRole.id.extension}}" root="1.2.826.0.1285.0.2.1.104"/>
                    </partSDSRole>
                </part>
            </AgentPersonSDS>
        </author>
        <subject typeCode="SUBJ" contextConductionInd="false">
            <GPSummary classCode="COMPOSITION" moodCode="EVN">
                <id root="{{controlActEvent.subject.GPSummary.id.root}}"/>
                <code code="196981000000101" codeSystem="2.16.840.1.113883.2.1.3.2.4.15" displayName="General Practice Summary"/>
                <effectiveTime value="{{controlActEvent.subject.GPSummary.effectiveTime}}"/>
                <statusCode code="active"/>
                <author typeCode="AUT" contextControlCode="OP">
                    <time value="{{controlActEvent.subject.GPSummary.author.time}}"/>
                    <UKCT_MT160018UK01.AgentPersonSDS classCode="AGNT" 
                        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <id root="1.2.826.0.1285.0.2.0.67" extension="{{controlActEvent.subject.GPSummary.author.AgentPersonSDS.id.extension}}"/>
                        <agentPersonSDS classCode="PSN" determinerCode="INSTANCE">
                            <id root="1.2.826.0.1285.0.2.0.65" extension="{{controlActEvent.subject.GPSummary.author.AgentPersonSDS.agentPersonSDS.id.extension}}"/>
                            <name>
                                {{{controlActEvent.subject.GPSummary.author.AgentPersonSDS.agentPersonSDS.name}}}
                            </name>
                        </agentPersonSDS>
                    </UKCT_MT160018UK01.AgentPersonSDS>
                </author>
                <excerptFrom typeCode="XCRPT" inversionInd="false" contextConductionInd="true" negationInd="false">
                    <templateId root="2.16.840.1.113883.2.1.3.2.4.18.2" extension="CSAT_RM-NPfITUK10.excerptFrom"/>
                    <seperatableInd value="false"/>
                    <UKCT_MT144051UK01.CareProfessionalDocumentationCRE classCode="CATEGORY" moodCode="EVN">
                        <code code="163171000000105" codeSystem="2.16.840.1.113883.2.1.3.2.4.15" displayName="Care Professional Documentation"/>
                        <component typeCode="COMP" inversionInd="false" negationInd="false">
                            <templateId root="2.16.840.1.113883.2.1.3.2.4.18.2" extension="CSAB_RM-NPfITUK10.component"/>
                            <seperatableInd value="false"/>
                            <presentationText classCode="OBS" moodCode="EVN">
                                <value mediaType="text/plain">
                                    {{{controlActEvent.subject.GPSummary.excerptForm.CareDocs.presentationText.value}}}  
                                </value>
                                <id root="{{controlActEvent.subject.GPSummary.excerptForm.CareDocs.presentationText.id.root}}"/>
                                <code code="PresentationText" codeSystem="2.16.840.1.113883.2.1.3.2.4.17.126" displayName="Presentation Text"/>
                                <statusCode code="completed"/>
                                <effectiveTime value="{{controlActEvent.subject.GPSummary.excerptForm.CareDocs.presentationText.effectiveTime.value}}"/>
                            </presentationText>
                        </component>
                    </UKCT_MT144051UK01.CareProfessionalDocumentationCRE>
                </excerptFrom>
                <pertinentInformation1 typeCode="PERT" inversionInd="false" contextConductionInd="true" negationInd="false">
                    <templateId root="2.16.840.1.113883.2.1.3.2.4.18.2" extension="CSAB_RM-NPfITUK10.pertinentInformation1"/>
                    <seperatableInd value="true"/>
                    <pertinentRootCREType classCode="CATEGORY" moodCode="EVN">
                        <code code="163171000000105" codeSystem="2.16.840.1.113883.2.1.3.2.4.15" displayName="Care Professional Documentation"/>
                    </pertinentRootCREType>
                </pertinentInformation1>
                {{> pertinentInformation2Partial}}
                <recordTarget typeCode="RCT">
                    <patient classCode="PAT">
                        <id root="2.16.840.1.113883.2.1.4.1" extension="{{controlActEvent.subject.GPSummary.recordTarget.patient.id.extension}}"/>
                    </patient>
                </recordTarget>
                {{#controlActEvent.subject.GPSummary.replacementOf}}
                    {{> ReplacementOfPartial }}
                {{/controlActEvent.subject.GPSummary.replacementOf}}
            </GPSummary>
        </subject>
    </ControlActEvent>
</REPC_IN150016UK05>
