<id root="{{Id}}"/>
<creationTime value="{{creationTime}}"/>
<versionCode code="{{versionCode}}"/>
<interactionId root="{{interactionId.root}}" extension="{{interactionId.extension}}"/>
<processingCode code="{{processingCode.code}}"/>
<processingModeCode code="{{processingModeCode.code}}"/>
<acceptAckCode code="{{acceptAckCode.code}}"/>