<id root="{{Id}}"/>
<creationTime value="{{creationTime}}"/>
<versionCode code="{{versionCode}}"/>
<interactionId root="2.16.840.1.113883.2.1.3.2.4.12" extension="REPC_IN150016UK05"/>
<processingCode code="P"/>
<processingModeCode code="T"/>
<acceptAckCode code="NE"/>
