<pertinentInformation2 typeCode="PERT" inversionInd="false" contextConductionInd="true" negationInd="false">{{!This file is a placeholder for the pertinent information2 block - the structured information is not required currently}}
</pertinentInformation2>
