<replacementOf typeCode="RPLC">
    <priorMessageRef classCode="COMPOSITION" moodCode="EVN">
        <id root="{{priorMessageRef.id.root}}"/>
    </priorMessageRef>
</replacementOf>
{{! Docs on the root attribute: This will be the message UUID which in GP Summary messages MUST be the same as the PSIS Event UUID.}}
