[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "~=4.5"
unittest-xml-reporting = "~=2.5"
apispec = "~=3.0"
apispec-webframeworks = "~=0.5"

[packages]
tornado = "~=6.0"
defusedxml = "~=0.6"
integration-adaptors-common = {editable = true,git = "https://git@github.com/nhsconnect/integration-adaptor-common.git",tag = '0.1.7'}
mhs-common = {editable = true,path = "./../common"}
isodate = "~=0.6"
# Temporarily hack the pycurl dependency so that we use a binary package
# on Windows. This hack should be removed once
# https://github.com/pycurl/pycurl/issues/569 is fixed.
pycurl = {version = "~=7.43",platform_system = "!= 'Windows'"}
pycurl-windows = {file = "https://ci.appveyor.com/api/buildjobs/k46mau52pldh189m/artifacts/dist/pycurl-7.43.0.3-cp37-cp37m-win32.whl",platform_system = "== 'Windows'"}
marshmallow = "~=3.2"

[requires]
python_version = "3.7"

[scripts]
unittests = 'python -m xmlrunner -o test-reports -v'
unittests-cov = 'coverage run -m xmlrunner -o test-reports -v'
coverage-report = 'coverage report'
coverage-report-xml = 'coverage xml'
coverage-report-html = 'coverage html'
start-outbound = "python main.py"
