<!--
This example message is provided for illustrative purposes only. It has had no clinical validation nor is it guaranteed to be fully compliant with the written message specification. 
Where there are conflicts with the written message specification or schema, the specification or schema shall be considered to take precedence. This example is not valid in isolation.
-->
<ControlActEvent xmlns="urn:hl7-org:v3" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="urn:hl7-org:v3 ..\Schemas\MCAI_MT040101UK03.xsd" classCode="CACT" moodCode="EVN">
    <author typeCode="AUT">
        <AgentPersonSDS classCode="AGNT">
            <id root="1.2.826.0.1285.0.2.0.67" extension="7643324387"/>
            <agentPersonSDS classCode="PSN" determinerCode="INSTANCE">
                <id root="1.2.826.0.1285.0.2.0.65" extension="5452322"/>
            </agentPersonSDS>
            <part typeCode="PART">
                <partSDSRole classCode="ROL">
                    <id root="1.2.826.0.1285.0.2.1.104" extension="ABCD"/>
                </partSDSRole>
            </part>
        </AgentPersonSDS>
    </author>
    <author1 typeCode="AUT">
        <AgentSystemSDS classCode="AGNT">
            <agentSystemSDS classCode="DEV" determinerCode="INSTANCE">
                <id root="1.2.826.0.1285.0.2.0.107" extension="accredited system id"/>
            </agentSystemSDS>
        </AgentSystemSDS>
    </author1>
    <author1 typeCode="AUT">
        <AgentSystemSDS classCode="AGNT">
            <agentSystemSDS classCode="DEV" determinerCode="INSTANCE">
                <id root="9.99.999.9.999999.9.9.9.9.9.99" extension="workstationid"/>
            </agentSystemSDS>
        </AgentSystemSDS>
    </author1>
    <reason typeCode="RSON">
        <justifyingDetectedIssueEvent classCode="ALRT" moodCode="EVN">
            <code code="99" codeSystem="2.16.840.1.113883.2.1.3.2.4.17.33">
                <qualifier>
                <value code="ER" codeSystem="2.16.840.1.113883.2.1.3.2.4.17.104"/>
                </qualifier>
            </code>
        </justifyingDetectedIssueEvent>
    </reason>
    <subject typeCode="SUBJ"> </subject>
    </ControlActEvent>