


{{#pertinentInformation2}}

<pertinentInformation2 typeCode="PERT" contextConductionInd="true" inversionInd="false" negationInd="false">
<templateId root="2.16.840.1.113883.2.1.3.2.4.18.2" extension="CSAB_RM-NPfITUK10.pertinentInformation1"/>
<seperatableInd value="true"/>
<pertinentCREType classCode="CATEGORY" moodCode="EVN">
<code codeSystem="2.16.840.1.113883.2.1.3.2.4.15" code="163221000000102" displayName="Allergies and Adverse Reactions"/>
<component typeCode="COMP" contextConductionInd="true">
<templateId root="2.16.840.1.113883.2.1.3.2.4.18.2" extension="CSAB_RM-NPfITUK10.component"/>
<seperatableInd value="false"/>
<UKCT_MT144053UK02.Allergy classCode="OBS" moodCode="EVN">
<id root="BD9BCB35-D9DF-4C20-BDCF-1717D591B365"/>
<code code="416098002" displayName="drug allergy">
<qualifier>
<name code="246075003" displayName="causative agent"/>
<value code="373270004" displayName="Penicillin -class of antibiotic-"/>
</qualifier>
<qualifier>
<name code="408729009" displayName="finding context"/>
<value code="410592001" displayName="Probably present"/>
</qualifier>
</code>
<statusCode/>
<effectiveTime value="20061114"/>
<pertinentInformation typeCode="PERT" contextConductionInd="true">
<seperatableInd value="false"/>
<pertinentSupportingInfo classCode="OBS" moodCode="EVN">
<value>
Patient stated they were told that they were allergic to penicillin by their parents
</value>
<code codeSystem="2.16.840.1.113883.2.1.3.2.4.17.126" code="SupportingText" displayName="Supporting Text"/>
</pertinentSupportingInfo>
</pertinentInformation>
</UKCT_MT144053UK02.Allergy>
</component>
<component typeCode="COMP" contextConductionInd="true">
<templateId root="2.16.840.1.113883.2.1.3.2.4.18.2" extension="CSAB_RM-NPfITUK10.component"/>
<seperatableInd value="false"/>
<UKCT_MT144056UK01.Refusal classCode="OBS" moodCode="EVN">
<id root="1C77C710-0072-4ACA-85A4-14B0A6EA8662"/>
<code codeSystem="2.16.840.1.113883.2.1.3.2.4.15" code="416308001" displayName="refused consent for upload to national shared electronic record"/>
<effectiveTime value="200606251205"/>
</UKCT_MT144056UK01.Refusal>
</component>
</pertinentCREType>
</pertinentInformation2>

{{/pertinentInformation2}}