[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
integration-adaptors-common = {editable = true,git = "https://git@github.com/nhsconnect/integration-adaptor-common.git",tag = '0.1.7'}
scr = {editable = true,path = "."}

[requires]
python_version = "3.7"

[scripts]
unittests = "python -m unittest -v"
