<recordTarget typeCode="RCT" >
    <patient classCode="PAT">
        {{#recordTarget.InfrastructureRootElements}}
            {{> InfrastructureRootElements}}
        {{/recordTarget.InfrastructureRootElements}}
        <id root="{{recordTarget.Patient.Id.root}}" extension="{{recordTarget.Patient.Id.extension}}"/>
    </patient>
</recordTarget>