<replacementOf typeCode="RPLC">
    {{#replacementOf.InfrastructureRootElements}}
        {{> InfrastructureRootElements}}
    {{/replacementOf.InfrastructureRootElements}}
    <priorMessageRef classCode="COMPOSITION" moodCode="EVN">
        <id root="{{replacementOf.priorMessageRef.id.root}}"/>
    </priorMessageRef>
</replacementOf>