[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "~=4.5"
unittest-xml-reporting = "~=2.5"

[packages]
tornado = "*"
python-qpid-proton = "*"
pystache = "*"
lxml = "*"

[requires]
python_version = "3.7"

[scripts]
unittests = 'python -m xmlrunner -o test-reports -v'
unittests-cov = 'coverage run -m xmlrunner -o test-reports -v'
coverage-report = 'coverage report'
coverage-report-xml = 'coverage xml'
coverage-report-html = 'coverage html'
local-env-prep = 'docker build -t rabbit-amqp1 local-env/rabbit/'
local-env-start = 'docker run --rm -d --hostname localhost --name rabbit-amqp-1 -p 15672:15672 -p 5672:5672 rabbit-amqp1'
local-env-stop = 'docker stop rabbit-amqp-1'
