[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "~=4.5"
unittest-xml-reporting = "~=2.5"

[packages]
requests = "*"
integration-adaptors-common = {editable = true,path = "./../common"}
ldap3 = "*"
tornado = "*"
aioboto3 = "*"
defusedxml = "~=0.6"
isodate = "*"

[requires]
python_version = "3.7"

[scripts]
inttests = 'python -m xmlrunner discover -o test-reports -p "int_*" -v'
