[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tornado = "*"
pycurl = {version = "~=7.43",platform_system = "!= 'Windows'"}
marshmallow = "~=3.2"

[requires]
python_version = "3.7"
