[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
requests = "~=2.23"
unittest-xml-reporting = "~=2.5"

[packages]
tornado = "*"
integration-adaptors-common = {editable = true,path = "./../common"}
pycurl = {version = "~=7.43",platform_system = "!= 'Windows'"}
marshmallow = "~=3.2"
fhir-resources = "~=5.1"
aioboto3 = "~=8.0"
fhir-resources = "*"

[requires]
python_version = "3.7"

[scripts]
unittests = 'python -m xmlrunner discover -o test-reports -p "test_*" -v'
inttests = 'python -m xmlrunner discover -o test-reports -p "int_*" -v'
componenttests = 'python -m xmlrunner discover -o test-reports -p "component_*" -v'